*{
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
                               /* Code copyed from: https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
}

body{
	margin: 0px;
	margin-top: 10px;
}



.background{	
	position: relative;
	margin:auto;
	display:none;
	width: 1300px;
	height: 700px;
	border:none;	
}

.player{
	position: absolute;
	margin-top: 0px;
	top :10px;
	left :10px;

	font-family: Impact, Charcoal, sans-serif;
	font-size: 35px;
	color: #cddccc;
}


.back{
	position: absolute;
	bottom :20px;
	left :20px; 
}

.play{
	display:none;
	position: absolute;
	bottom:45px;
	right: 20px;
}

/*-----------START MENU-------*/
#startMenu{
	background: url("../resources/menu/startMenu_Background0.png") 0 0 /100% 100%;
}
#startMenu_0{
	position: absolute;	
	top :460px;
	left :510px;
}



/*-----------LOGIN REG MENU-------*/
#loginRegMenu{
	background: url("../resources/menu/loginRegMenu_Background0.png") 0 0 /100% 100%;
}

#name{
	position: absolute;	
	font-size:25pt;
	font-weight: "bold";
    height:50px;
    width:275px;
	top :330px;
	left :510px;

}

#loginRegMenu_0{
	position: absolute;	
	top :500px;
	left :480px;
}
#loginRegMenu_1{
	position: absolute;	
	top :495px;
	left :700px;
}



/*-----------MAIN MENU-------*/

#mainMenu{
	background: url("../resources/menu/mainMenu_Background0.png") 0 0 /100% 100%;
}


#mainMenu_0{
	position: absolute;
	top :250px;
	left :505px; 
}

#mainMenu_1{
	position: absolute;
	top :350px;
	left :510px;

}

#mainMenu_2{
	position: absolute;
	top :450px;
	left :510px;

}



#mainMenu_4{
	position: absolute;
	bottom :60px;
	left :470px;
}

#mainMenu_5{
	position: absolute;
	bottom :62px;
	left :770px;

}
#mainMenu_6{
	position: absolute;
	bottom :60px;
	left :670px;
}

#mainMenu_7{
	position: absolute;
	bottom :60px;
	left:570px;
}


/*-----------NIVEL MENU-------*/

#levelMenu{
	background: url("../resources/menu/levelMenu_Background0.png") 0 0 /100% 100%;
}

#levelMenu_0{
	display: none;
	position: absolute;
	top :250px;
	left :510px; 
}

#levelMenu_1{
	display: none;
	position: absolute;
	top :320px;
	left :510px;
}
#levelMenu_2{
	display: none;
	position: absolute;
	top :390px;
	left :510px;
}
#levelMenu_3{
	display: none;
	position: absolute;
	top :460px;
	left :510px;
}



/*-----------ESCOLHER NAVE MENU-------*/

#chooseSpaceshipMenu{
	background: url("../resources/menu/chooseSpaceshipMenu_Background0.png") 0 0 /100% 100%;
}

#chooseSpaceshipMenu_0{
	position: absolute;
	top :250px;
	left :420px; 
}

#chooseSpaceshipMenu_1{
	position: absolute;
	top :250px;
	left :760px;
}



#BoxAc{
	position: absolute;
	margin: 0px;
	padding: 10px;
	padding-top:40px; 
	left: 15%;
	right: 55%;
	bottom: 5%;
	top: 70%; 
	background: url("../resources/menu/chooseSpaceshipMenu_Background1.png") 0 0 /100% 100%;
	overflow-y: auto; 
}

#BoxSpecs{
	position: absolute;
	margin: 0px;
	padding: 10px;
	padding-top:40px; 
	left: 50%;
	right: 20%;
	bottom: 5%;
	top: 70%; 
	background: url("../resources/menu/chooseSpaceshipMenu_Background2.png") 0 0 /100% 100%;
	overflow-y: auto; 
}

.spaceship{
	display: none;
	position: absolute;
}

.textAc{
	display:none;
	font-family: Impact, Charcoal, sans-serif;
	font-size: 16px;
	color: #cddccc;
}
.textSpecs{
	display:none;
	font-family: Impact, Charcoal, sans-serif;
	font-size: 16px;
	color: #cddccc;
}


/*-----------POP UP MENU-------*/
#navPop{
	position: absolute;
	width: 100vw;
	top: 250px;
	border:none;	
}


#popUpMenu{
	position: relative;
	margin:auto;
	z-index: 1;
	width: 300px;
	height: 200px;
	display:none;
	background: url("../resources/menu/popUpMenu_Background0.png") 0 0 /100% 100%;

}

#textPop{
	position: absolute;
	top :10px;
	left :20px;
	padding-right: 10px;
	font-family: Impact, Charcoal, sans-serif;
	color: #cddccc;
}


#popUpMenu_0{
	position: absolute;
	top :150px;
	left :40px;
}
#popUpMenu_1{
	position: absolute;
	top :150px;
	left :125px;
}
#popUpMenu_2{
	position: absolute;
	top :150px;
	left :190px;
}





/*-----------PAUSA MENU-------*/
#navPause{
	position: absolute;
	width: 100vw;
	top: 94px;
	border:none;	
}



#pauseMenu{
	position: relative;
	margin:auto;
	z-index: 2;
	width: 400px;
	height: 500px;
	display:none;
	background: url("../resources/menu/pauseMenu_Background0.png") 0 0 /100% 100%;

}

#pauseMenu_0{
	position: absolute;
	top :170px;
	left :160px;

}
#pauseMenu_1{
	position: absolute;
	top :170px;
	left :260px;

}
#pauseMenu_2{
	position: absolute;
	top :170px;
	left :320px;

}
#pauseMenu_3{
	position: absolute;
	top :300px;
	left :160px;

}
#pauseMenu_4{
	position: absolute;
	top :300px;
	left :260px;

}
#pauseMenu_5{
	position: absolute;
	top :300px;
	left :320px;

}
#pauseMenu_6{
	position: absolute;
	top :400px;
	left :90px;
}

/*-----------AJUDA MENU-------*/
#helpMenu{
	background: url("../resources/menu/helpMenu_Background0.png") 0 0 /100% 100%;
}

#helpInformation{
	position: absolute;
	margin: 0px;
	padding: 0px;
	left: 2%;
	right: 0%;
	top: 20%;
	bottom: 0%;
	overflow-y: auto; 
}

#BoxHelp{
	position: absolute;
	margin: 0px;
	padding: 10px;
	left: 15%;
	right: 15%;
	top: 5%;
	bottom: 5%;
	background: url("../resources/menu/helpMenu_Background1.png") 0 0 /100% 100%;
}

.imgHelp{
	float:left;
	width: 100px;
	height: 100px;
	border: 5px solid black;
	background: white;
	box-sizing: border-box;
	margin: 0px;
	margin-bottom: 10px;
}

.textHelp{
	float:left;
	width: 740px;
	height: 100px;
	border: 5px solid black;

	font-family: Impact, Charcoal, sans-serif;
	color: #cddccc;
	
	box-sizing: border-box;
	padding: 10px;
	margin: 0px;
	margin-left: 10px;
	margin-bottom: 10px;
	overflow-y: auto; 
}




/*-----------CREDITOS MENU-------*/
#creditsMenu{
	background: url("../resources/menu/creditsMenu_Background0.png") 0 0 /100% 100%;
}



/*-----------CONTROLOS MENU-------*/
#controlsMenu{
	background: url("../resources/menu/controlsMenu_Background0.png") 0 0 /100% 100%;
}
#BoxControls{
	position: absolute;
	left: 15%;
	right: 15%;
	top: 5%;
	bottom: 5%;
	background: url("../resources/menu/controlsMenu_Background1.png") 0 0 /100% 100%;
}
#controlsMenu_1{
	display: none;
	position: absolute;
	bottom :20px;
	right: 20px;
}


/*-----------LEADERBOARD-------*/
#leaderBoard{
	background: url("../resources/menu/leaderBoard_Background0.png") 0 0 /100% 100%;
}


#LeaderBoardTable{
	position: absolute;
	left: 12%;
	right: 12%;
	top: 15%;
	bottom: 15%;
	background: url("../resources/menu/leaderBoard_Background1.png") 0 0 /100% 100%;
}


#listC, #listI{
	position: absolute;
	top: 105px;
	width: 400px;
	padding: 0px;

	column-count: 2;

	column-gap: 0px;
	column-width: 1px;

	line-height: 49px;
	font-family: Impact, Charcoal, sans-serif;
	font-size: 35px;
	color: #cddccc;


	display: inline-block;
	/*border: 2px solid;*/
}

#listI{
	margin-left: 3%;
}
#listC{
	margin-left: 53%;
}




#playerI , #playerC{
	list-style-type: none;
	text-align: left;
}

#time, #score{
	list-style-type: none;
	text-align: right;
}






